<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InGenios</title>

  <!-- Meta Tags -->
  <meta name="description" content="...">
  <meta name="keywords" content="...">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="Title...">
  <meta property="og:description" content="Description ...">
  <meta property="og:image" content="{{ url_for('static', filename='base/img/logo_solo.png') }}">
  <meta property="og:url" content="https://ingenios.com.ar/">
  <meta property="og:type" content="website">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="ingenios.com.ar">
  <meta property="twitter:url" content="https://ingenios.com.ar/">
  <meta name="twitter:title" content="Title...">
  <meta name="twitter:description" content="Description...">
  <meta name="twitter:image" content="{{ url_for('static', filename='base/img/image.png') }}">

  <!-- Favicons -->
  <link rel="icon" href="{{ url_for('static', filename='media/images/favicon/Globo_Relleno_sFFTicu.png') }}">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="{{ url_for('static', filename='base/vendor/aos/aos.css') }}" rel="stylesheet">

  <!-- Template Main CSS File (con todos los estilos, incluidos los overrides inline) -->
  <link rel="stylesheet" href="{{ url_for('static', filename='base/css/main.css') }}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <div class="d-flex flex-column">
          <h1 class="no-margin">InGeni<i class="bi bi-balloon text-danger"></i>s</h1>
        </div>
      </a>
      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#proyectos">Propuestas</a></li>
          <li><a href="#casos-de-exito">Casos</a></li>
          <li><a href="#team">Equipo</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      <a href="https://api.whatsapp.com/send?phone=5491133332216" class="whatsapp btn-whatsapp" target="_blank">
        <i class="bi bi-whatsapp"></i>
      </a>
    </div>
  </header>

  <!-- ======= Main Content ======= -->
  <main id="main">
    <!-- Hero Section -->
    <section id="hero" class="hero">
      <div class="video-container">
        <video class="bg-video" muted autoplay loop>
          <source src="{{ url_for('static', filename='media/videos/hero/Hero.mp4') }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 data-aos="fade-up" data-aos-delay="100">Automatiza, Optimiza, Crece.</h2>
            <p data-aos="fade-up" data-aos-delay="200">
              Transformamos procesos manuales en sistemas inteligentes y autónomos, para que tu negocio crezca sin
              fricciones. Con InGenios, libérate de tareas repetitivas y enfócate en lo que realmente importa.
            </p>
            <a href="https://api.whatsapp.com/send?phone=" data-aos="fade-up" data-aos-delay="300"
              class="whatsapp cta-btn" target="_blank">
              Contáctanos <i class="bi bi-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center align-items-center gy-5">
          <div class="col-lg-5 section-title">
            <h2>Nosotros</h2>
            <p>Bienvenidos a <span>InGenios</span>.</p>
            <p class="font-default">
              Somos un equipo apasionado por la tecnología y la optimización de procesos. Ayudamos a emprendedores y
              pequeñas empresas a automatizar tareas, mejorar su eficiencia y escalar sus negocios con soluciones
              innovadoras y accesibles.
            </p>
            <br>
            <div class="read-more">
              <a href="#elegirnos"><span>Leer más...</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="row gy-4 icon-boxes">
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">

                  <h3>📦 Automatización de Procesos</h3>
                  <p>Transformamos tareas manuales en flujos automáticos, optimizando tu tiempo y recursos.</p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">

                  <h3>🤖 Bots Inteligentes</h3>
                  <p>Implementamos bots en Telegram y otras plataformas para atender clientes, gestionar pedidos y más.
                  </p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">

                  <h3>📊 Integración de Datos</h3>
                  <p>Conectamos diferentes sistemas para que la información fluya de manera eficiente y sin errores.</p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">

                  <h3>🚀 Soluciones Personalizadas</h3>
                  <p>Analizamos cada negocio y diseñamos automatizaciones a medida según sus necesidades.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- ¿Por qué Elegirnos? Section -->
    <section id="elegirnos" class="elegirnos py-5">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center align-items-center gy-5">
          <div class="col-lg-12 section-title text-center">
            <h2 class="mb-3">¿Por qué Elegirnos?</h2>
            <p class="lead">La diferencia entre trabajar más y <span class="text-danger">trabajar mejor</span></p>
            <p class="font-default mb-4">
              No somos solo desarrolladores, somos arquitectos de eficiencia. Con Ingenios, no solo digitalizas tu
              negocio, sino que lo llevas a un nuevo nivel de autonomía.
            </p>
            <div class="d-flex justify-content-center p-3" data-aos="fade-up" data-aos-delay="200">
              <div class="d-flex flex-column justify-content-start text-start">
                <div class="d-flex align-items-center gap-3">
                  <i class="bi bi-check-circle text-danger fs-4"></i>
                  <span><b>Soluciones accesibles</b> para pequeñas empresas y emprendedores</span>
                </div>
                <div class="d-flex align-items-center gap-3">
                  <i class="bi bi-check-circle text-danger fs-4"></i>
                  <span><b>Automatización</b> con tecnología de punta sin costos elevados</span>
                </div>
                <div class="d-flex align-items-center gap-3">
                  <i class="bi bi-check-circle text-danger fs-4"></i>
                  <span><b>Enfoque práctico</b>, sin tecnicismos innecesarios</span>
                </div>
                <div class="d-flex align-items-center gap-3">
                  <i class="bi bi-check-circle text-danger fs-4"></i>
                  <span>Soporte y acompañamiento en la <b>transformación digital</b></span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <!-- Carrusel para uso futuro -->
            <div id="carouselTeam-stream-3" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="team-slide row gy-3 justify-content-center align-items-center p-3">
                    <div class="col-lg-6 team-item">
                      <div class="image-container d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='media/images/team/valor_diferencial.png') }}"
                          class="img-fluid" alt="Valor Diferencial">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Call-to-Action Section -->
    <section id="call-to-action" class="call-to-action">
      <img src="{{ url_for('static', filename='media/images/promociones/call2action/pexels-fauxels-3183197.jpg') }}"
        alt="Call to Action">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-xl-10 text-center">
            <h3>📩 Hagamos que tu negocio funcione en piloto automático</h3>
            <p>Descubre cómo la automatización puede ahorrarte tiempo y aumentar tu productividad. Agenda una consulta
              sin compromiso y te mostraremos las oportunidades de optimización en tu negocio.</p>
            <a href="https://api.whatsapp.com/send?phone=5291133332216" class="whatsapp cta-btn" target="_blank">
              <i class="bi bi-whatsapp"></i> Contáctanos ahora!
            </a>
          </div>
        </div>
      </div>
    </section>


    <!-- Proyectos Section (Project Cards Actualizados) -->
    <section id="proyectos" class="blog">
      <div class="container section-title" data-aos="fade-up" data-aos-delay="100">
        <h2>Nuestra Propuesta</h2>
        <p>Lo que hacemos, <span>lo hacemos diferente</span>.</p>
        <p class="font-default">Nuestra misión es revolucionar la forma en que las empresas gestionan sus procesos. No
          solo automatizamos, sino que diseñamos soluciones inteligentes que se adaptan a cada negocio.</p>
      </div>
      <div class="container">
        <div class="row gy-4 posts-list">
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article class="article">
              <div class="sub-article">
                <a href="#proyectos" class="card-link"></a>
                <h2 class="title">
                  <a href="#proyectos">🎯 Automatización Inteligente</a>
                </h2>
                <div class="meta-top my-2">
                  <ul class="justify-content-start">
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                      <small>Jan 10, 2025</small>
                    </li>
                  </ul>
                </div>
                <p class="post-category">Más que robots, creamos procesos autónomos que aprenden y evolucionan con tu
                  negocio.</p>
              </div>
              <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                </ul>
                <i class="bi bi-tags"></i>
                <ul class="tags">
                </ul>
              </div>
            </article>
          </div>
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <article class="article">
              <div class="sub-article">
                <a href="#proyectos" class="card-link"></a>
                <h2 class="title">
                  <a href="#proyectos">⚡ Optimización de Tiempo</a>
                </h2>
                <div class="meta-top my-2">
                  <ul class="justify-content-start">
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                      <small>Jan 10, 2025</small>
                    </li>
                  </ul>
                </div>
                <p class="post-category">Eliminamos tareas repetitivas para que puedas enfocarte en hacer crecer tu
                  empresa.</p>
              </div>
              <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                </ul>
                <i class="bi bi-tags"></i>
                <ul class="tags">
                </ul>
              </div>
            </article>
          </div>
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <article class="article">
              <div class="sub-article">
                <a href="#proyectos" class="card-link"></a>
                <h2 class="title">
                  <a href="#proyectos">🔗 Integración con Herramientas Existentes</a>
                </h2>
                <div class="meta-top my-2">
                  <ul class="justify-content-start">
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                      <small>Jan 10, 2025</small>
                    </li>
                  </ul>
                </div>
                <p class="post-category">Conectamos nuestras soluciones con tus sistemas actuales sin necesidad de
                  cambios drásticos.</p>
              </div>
              <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                </ul>
                <i class="bi bi-tags"></i>
                <ul class="tags">
                </ul>
              </div>
            </article>
          </div>
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <article class="article">
              <div class="sub-article">
                <a href="#proyectos" class="card-link"></a>
                <h2 class="title">
                  <a href="#proyectos">💳 Transacciones Automatizadas</a>
                </h2>
                <div class="meta-top my-2">
                  <ul class="justify-content-start">
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                      <small>Jan 10, 2025</small>
                    </li>
                  </ul>
                </div>
                <p class="post-category">Facilitamos pagos y cobros en bots de Telegram, integrando plataformas como
                  MercadoPago, PayPal y criptomonedas, para que las ventas ocurran sin fricción.</p>
              </div>
              <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                </ul>
                <i class="bi bi-tags"></i>
                <ul class="tags">
                </ul>
              </div>
            </article>
          </div>
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <article class="article">
              <div class="sub-article">
                <a href="#proyectos" class="card-link"></a>
                <h2 class="title">
                  <a href="#proyectos">🤝 Soporte y Acompañamiento</a>
                </h2>
                <div class="meta-top my-2">
                  <ul class="justify-content-start">
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i>
                    </li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                      <small>Jan 10, 2025</small>
                    </li>
                  </ul>
                </div>
                <p class="post-category">No te dejamos solo. Te guiamos en cada paso para que aproveches al máximo la
                  automatización.</p>
              </div>
              <div class="meta-bottom">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                </ul>
                <i class="bi bi-tags"></i>
                <ul class="tags">
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- Casos de éxito Section -->
    <section id="casos-de-exito" class="about">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center align-items-center gy-5">
          <div class="col-12 section-title">
            <h2>Nuestros Casos</h2>
            <p>Soluciones reales, <span>resultados concretos</span>.</p>
            <p class="font-default">
              Mira cómo hemos ayudado a empresas y emprendedores a ahorrar tiempo, reducir costos y mejorar su
              eficiencia.
            </p>
            <br>
          </div>
          <div class="col-12">
            <div class="row gy-4 icon-boxes">
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                  <h3>📬 Notificador Automático de Turnos de Visa</h3>
                  <p>📌 Creamos un bot que alerta a los usuarios y agencias de gestión sobre disponibilidad de turnos
                    para visas en EE.UU., ahorrándoles tiempo y frustración.</p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <h3>📅 Reservadores Automáticos de Turnos</h3>
                  <p>📌 Desarrollamos un sistema de reservas inteligentes para que nuestros clientes consigan turnos sin
                    estar pendientes constantemente.</p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <h3>📦 Seguimiento de Envíos de Paquetes</h3>
                  <p>📌 Implementamos una automatización para rastrear pedidos, informando a los clientes sobre el
                    estado de sus envíos en tiempo real.</p>
                </div>
              </div>
              <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">
                  <h3>💳 Integración de Medios de Pago en Bots de Telegram</h3>
                  <p>📌 Diseñamos bots en Telegram que permiten a los negocios automatizar cobros y pagos, integrando
                    plataformas como MercadoPago, PayPal y criptomonedas, brindando una experiencia fluida y segura a
                    los clientes.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="team">
      <div class="container">
        <div class="row justify-content-center align-items-center gy-5">
          <div class="col-lg-12 section-title" data-aos="fade-up" data-aos-delay="100">
            <h2>Equipo</h2>
            <p>El Corazón de <span>InGenios</span></p>
            <p class="font-default">
              Detrás de cada solución innovadora, hay un equipo apasionado por la tecnología y la eficiencia. Conoce a
              los expertos que harán crecer tu negocio.
            </p>
          </div>
          <div class="col-lg-12">
            <div id="carouselTeam-stream-2" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="team-slide row gy-3 justify-content-center align-items-start p-3" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 team-item">
                      <div class="image-container d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='media/images/team/mateo.jpeg') }}"
                          class="img-fluid rounded-circle" alt="Mateo Policichio">
                      </div>
                      <div class="team-body">
                        <div class="text-center mt-3">
                          <h6>Mateo Policichio</h6>
                          <span><strong>Desarrollo e Innovación</strong></span>
                          <p>Licenciado en Administración en Sistemas y Empresas en la Universidad de Palermo (UP)</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 team-item">
                      <div class="image-container d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='media/images/team/martin.png') }}"
                          class="img-fluid rounded-circle" alt="Martin Policichio">
                      </div>
                      <div class="team-body">
                        <div class="text-center mt-3">
                          <h6>Martin Policichio</h6>
                          <span><strong>Desarrollo Tecnológico</strong></span>
                          <p>Ingeniero Electrónico (UBA / ITBA)</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 team-item">
                      <div class="image-container d-flex justify-content-center align-items-center">
                        <img src="{{ url_for('static', filename='media/images/team/gian.jfif') }}"
                          class="img-fluid rounded-circle" alt="Martin Policichio">
                      </div>
                      <div class="team-body">
                        <div class="text-center mt-3">
                          <h6>Gian Policichio</h6>
                          <span><strong>Desarrollo de SW</strong></span>
                          <p>Ingeniería Informática (UBA), Psicología (UB)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-3 justify-content-center align-items-center">
        <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
          <div class="logo-container d-flex justify-content-center align-items-center">
            <a href="/" class="logo d-flex justify-content-center align-items-center">
              <div class="d-flex flex-column">
                <h1 class="no-margin">InGeni<i class="bi bi-balloon text-danger"></i>s</h1>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
          <div class="whatsapp-container text-center p-3">
            <a href="https://api.whatsapp.com/send?phone=5491133332216" class="whatsapp cta-btn" target="_blank">
              Contáctanos<br>
              <i class="bi bi-whatsapp"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
          <div class="social-links d-flex justify-content-center align-items-center p-3">
            <a href="https://www.instagram.com//ingeniosdevs/" class="instagram" target="_blank"><i
                class="bi bi-instagram"></i></a>
            <a href="https://www.telegram.com/" class="telegram" target="_blank"><i class="bi bi-telegram"></i></a>
          </div>
        </div>
        <div class="col-12 text-center p-3">
          <div class="copyright">
            <p>&copy; Copyright <strong><span>InGenios</span></strong>. All Rights Reserved.</p>
          </div>
          <div class="credits">
            <p>Designed by <a href="https://ingenios.ar/">InGenios</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
  </a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <!-- Bootstrap Bundle (incluye Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='base/vendor/aos/aos.js') }}"></script>


  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='base/js/main.js') }}"></script>
</body>

</html>